$bg-color: #fff;
$bg-main-color: #FAFBFF;
$text-color: #292D32;
$grey-color: #757575;
$light-grey-color: #B5B7C0;
$black-color: #000;
$nav-color: #9197B3;
$green-light-color: #16C098;
$table-head-color: #B5B7C0;
$search-form-color: #F9FBFF;