.aside {
  display: flex;
  flex-direction: column;

  padding: 36px 28px 76px 28px;
  width: 306px;
  min-height: 1198px;

  &__item {
    margin-bottom: 40px;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link_dashboard {
    justify-content: flex-start;
  }

  &__link-icon {
    width: 24px;
    height: 24px;
    margin-right: 14px;
  }

  &__link-wrapper {
    display: flex;
    align-items: center;
  }

  &__subtitile {
    font-size: 14px;
    color: $nav-color;
  }
}

.arrow-icon {
  width: 16px;
  height: 16px;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 64px;

  &__icon-setting {
    display: block;
    width: 37px;
    height: 37px;
    margin-right: 8px;
    fill: $black-color;
  }

  &__title {
    color: $black-color;
    font-size: 26px;
    font-weight: 600;
    line-height: 100%;
  }

  &__subtitle {
    color: $grey-color;
    font-size: 10px;
  }

  &__text-wrapper {
    display: flex;
    align-items: baseline;
    gap: 4px;
  }
}

.author {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 12px;

  &__name {
    font-size: 14px;
    font-weight: 500;
    color: $black-color;
  }

  &__position{
    font-size: 12px;
    font-weight: 400;
    color: $grey-color;
  }
}
