.main {
  flex: auto;
  padding: 41px 95px 76px 71px;
}

.header__title{
  font-size: 24px;
  color: $black-color;
  margin-bottom: 51px;
}

.section-customers {
  width: 968px;
  padding: 30px 44px 40px 38px;
  position: relative;

  &__title{
    margin-bottom: 7px;
    font-size: 22px;
    font-weight: 600;
    color: $black-color;
  }
  
  &__info-text{
    display: block;
    margin-bottom: 40px;
    font-weight: 400;
    color: $green-light-color;
  }
}

.search-form{
  position: absolute;
  top: 44px;
  right: 53px;
  

  &__button{
    width: 24px;
    height: 24px;

    position: absolute;
    left: 8px;
    top: 7px;

    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
  }
  &__icon{
    width: 100%;
    height: 100%;
  }
  &__input{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 40px;
    line-height: 1.5;
    
    font-size: 12px;
    font-weight: 400;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: $search-form-color;

    &::placeholder{
      color: $light-grey-color;
    }
  }
}