.table {
    width: 968px;

    &__head tr{
        color: $table-head-color;
        border-bottom: 1px solid #EEEEEE;
    }

    &__head th{
        padding-bottom: 14px;
        font-weight: 500;
    }

    &__cell{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}